@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 234 43% 94%;
    --foreground: 230 25% 25%;
    --card: 234 43% 99%;
    --card-foreground: 230 25% 25%;
    --popover: 234 43% 99%;
    --popover-foreground: 230 25% 25%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 48% 88%;
    --secondary-foreground: 230 25% 25%;
    --muted: 231 48% 92%;
    --muted-foreground: 230 25% 45%;
    --accent: 233 44% 56%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 48% 85%;
    --input: 231 48% 88%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 230 25% 15%;
    --foreground: 0 0% 98%;
    --card: 230 25% 17%;
    --card-foreground: 0 0% 98%;
    --popover: 230 25% 17%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 68%;
    --primary-foreground: 230 25% 15%;
    --secondary: 233 44% 36%;
    --secondary-foreground: 0 0% 98%;
    --muted: 233 44% 26%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 233 44% 56%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 233 44% 26%;
    --input: 233 44% 26%;
    --ring: 231 48% 68%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}